<a href="https://colab.research.google.com/github/vinicionagel/pythonColab/blob/master/desafioModulo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd  #bibioteca responsável para o tratamento e limpeza dos dados
import numpy as np #biblioteca utilizada para o tratamento eficiente de dados numéricos
import datetime  #biblioteca utilizada para trabalhar com datas
from matplotlib import pyplot as plt  #plotar os gráficos
import seaborn as sns #plot de gráficos

In [4]:
df_doencas_coracao=pd.read_csv('doencas_coracao.csv')

In [ ]:
df_doencas_coracao.head()

    age  anaemia  creatinine_phosphokinase  ...  smoking  time  DEATH_EVENT
0  75.0        0                       582  ...        0     4            1
1  55.0        0                      7861  ...        0     6            1
2  65.0        0                       146  ...        1     7            1
3  50.0        1                       111  ...        0     7            1
4  65.0        1                       160  ...        0     8            1

[5 rows x 13 columns]

In [ ]:
df_doencas_coracao.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 299 entries, 0 to 298
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   age                       299 non-null    float64
 1   anaemia                   299 non-null    int64
 2   creatinine_phosphokinase  299 non-null    int64
 3   diabetes                  299 non-null    int64
 4   ejection_fraction         299 non-null    int64
 5   high_blood_pressure       299 non-null    int64
 6   platelets                 299 non-null    float64
 7   serum_creatinine          299 non-null    float64
 8   serum_sodium              299 non-null    int64
 9   sex                       299 non-null    int64
 10  smoking                   299 non-null    int64
 11  time                      299 non-null    int64
 12  DEATH_EVENT               299 non-null    int64
dtypes: float64(3), int64(10)
memory usage: 30.5 KB

In [ ]:
cond = df_doencas_coracao[df_doencas_coracao['age'] > 0]
cond = cond[cond['DEATH_EVENT'] == 1]
media = cond['age'].mean()
print(media)

65.21528125

In [ ]:
cond = df_doencas_coracao[df_doencas_coracao['sex'] == 0]
cond = cond[cond['DEATH_EVENT'] == 0]
print(cond['sex'].count)

<bound method Series.count of 14     0
20     0
33     0
64     0
76     0
      ..
288    0
289    0
290    0
295    0
296    0
Name: sex, Length: 71, dtype: int64>

In [5]:
from sklearn.preprocessing import MinMaxScaler
entradas = ['sex','age','diabetes','anaemia','high_blood_pressure','creatinine_phosphokinase','smoking','ejection_fraction','platelets','serum_creatinine', 'serum_sodium', 'time']
saida=['DEATH_EVENT']
x=df_doencas_coracao[entradas]
y=df_doencas_coracao[saida]
normaliza = MinMaxScaler()
entradas_normalizadas=normaliza.fit_transform(x)

In [15]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix

x_train, x_test, y_train, y_test = train_test_split(entradas_normalizadas, y, test_size=0.3, random_state=42)

clf_KNN = KNeighborsClassifier(n_neighbors=5)

clf_KNN.fit(x_train, y_train)

y_pred_KNN = clf_KNN.predict(x_test)

print(classification_report(y_test,y_pred_KNN))

              precision    recall  f1-score   support

           0       0.61      0.96      0.74        53
           1       0.67      0.11      0.19        37

    accuracy                           0.61        90
   macro avg       0.64      0.54      0.47        90
weighted avg       0.63      0.61      0.51        90

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  if __name__ == '__main__':

In [16]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score


clf_arvore = DecisionTreeClassifier(random_state=1)
clf_arvore.fit(x_train, y_train) 
y_previsto = clf_arvore.predict(x_test) 
acuracia = accuracy_score(y_test, y_previsto)
print('Acurácia da àrvore de Decisão: ',acuracia)

Acurácia da àrvore de Decisão:  0.6666666666666666

In [17]:
from sklearn.neural_network import MLPClassifier
from sklearn import metrics

clf_mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5,
5), random_state=1)

clf_mlp.fit(x_train,y_train)

y_pred=clf_mlp.predict(x_test)

print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.7111111111111111

/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:934: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.6/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:470: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)